<!DOCTYPE html>
	<html >
	<!--From https://codepen.io/frytyler/pen/EGdtg-->
	<head>
	  <meta charset="UTF-8">
	  <title>ML API</title>
	  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	
	</head>
	
	<body>
	 <div class="login">
		<h2>Predict of survival</h2>
	         <!-- Main Input For Receiving Query to our ML -->
	    <form action="{{ url_for('predict')}}"method="post">
	    	
    <fieldset>
        <legend>Input values:</legend>
        Ticket Class (1, 2, 3):
        <input name="Pclass" type="number" required>
        <br>
        <br> Age:
        <input name="Age" type="number" required>
        <br>
        <br> Number of Siblings aboard:
        <input name="SibSp" type="number" required>
        <br>
        <br> Fare (price of ticket, a number):
        <input name="Fare" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
	
	    
	
	   <br>
	   <br>
	   {{ prediction_text }}
	
	 </div>
	
	
	</body>
	</html>
